<%- include('partials/landingPageHeader.ejs') %>

<div class="sj-innerbanner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sj-innerbannercontent">
          <h1>Events</h1>
          <ol class="sj-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="javascript:void(0);">Events</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
  <div id="sj-twocolumns" class="sj-twocolumns">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
          <div id="sj-content" class="sj-content">
            <div class="sj-aboutus">
              <h3 style="font-weight: bold;">Events</h3>
              <% if(events.length === 0){ %>
              <div style="height: 20px;"></div>
              <h3 style="text-align: center;">No event found!</h3>
              <% }else{ %>
              <% events.forEach(function(event){ %>
              <div style="height: 20px;"></div>
              <h5 style="text-decoration: underline;"><%= event.title %></h5>
              <% const para = event.details.split('*') %>

              <% para.forEach(function(p){ %>
              <p><%= p %></p>
              <% }) %>
              <% }) %>
              <% } %>

            </div>
          </div>
        </div>
        <%- include('partials/aside.ejs') %>
      </div>
    </div>
  </div>
</main>


<%- include('partials/landingPageFooter.ejs') %>